.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 420px;

  h2 {
    margin: 10px 0;
  }
  .buttons-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
